name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Install with Maven
      run: mvn install:install-file -DgroupId=org.spigotmc -Dpackaging=jar -Dfile=./lib/spigot-1.17.1.jar -DartifactId=spigot -DgeneratePom=true -Dversion=1.17-R0.1-SNAPSHOT
      
    - name: Build with Maven
      run: mvn -B --no-transfer-progress package
